<form
  class="form-horizontal"
  autocomplete="off"
  #editCategoryForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'EditCategory' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="name">
        {{ "Name" | localize }}
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="categoryName"
          id="categoryName"
          [(ngModel)]="category.categoryName"
          required
          minlength="2"
          maxlength="32"
          #nameEl
        />
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!editCategoryForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
